* {
  box-sizing: border-box;
}
body,
html,
#root {
  height: 100%;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.App {
  border: 1px solid #ddd;
  width: 50%;
}

.cardHeader {
  background-color: #ddd;
  margin-top: 0;
  margin-bottom: 0;
  padding: 8px;
}

.inputContainer {
  border-bottom: 1px solid #ddd;
}

.inputText {
  border: none;
  width: 100%;
  padding: 8px;
}

input:focus,
input:hover {
  outline: none;
}

.list-items {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.btn-action {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 5px 10px;
  background-color: #fff;
}
.ml-5px {
  margin-left: 5px;
}

.pagination {
  text-align: center;
  padding: 10 px;
  margin-top: 5 px;
}

.page_btn,
.page_btn.active:hover {
  padding: 15px;
  margin: 0 5px;
  background-color: blue;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  border: 1px solid hsl(242deg 33% 49%);
}

.page_btn:hover,
.page_btn.active {
  background-color: transparent;
  color: hsl(242deg 33% 49%);
}
